:host{
    display: block;
}
.mrscorehdrow-hdr{
    display: flex;
    box-shadow: 0 0 .1em .05em rgba(0,0,0,.1);
}

.mrscorehdrow-hdr .mrscorehdrow-colhdr{
    width: 14.8em;
    background-color: white;
    border-right: 1px solid #EEEEEE;
}


.mrscorehdrow-colcell div{
    background-color: white;
    border-right: 1px solid #EEEEEE;
    text-align: center;
    width: 25%;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    color: #676666;
    padding: .7em 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    
}

.mrscorehdrow-colcell div:last-child{
    display: none;
}

@media (min-width: 1280px) {
     .mrscorehdrow-colcell div{
         width: 20%;
     }

     .mrscorehdrow-colcell div:last-child{
        display: block;
    }

}

.mrscorehdrow-colcell{
    flex-grow: 1;
    display: flex;
}