:host{
    padding: 0 1em 0 1em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border-right: 1px solid #e6e6e6;
    color: #545454;
    height: 100%;
    display: flex;
    align-items: center;
}

:host([right-align]){
    justify-content: flex-end;
    font-size: .8em;
}