<div class="mrpagestep-content " >
    <div class="mrpagestep-bar"> 
        <div class="mrpagestep-barprogress" [style.transform]="'scaleX('+pageindex/(labels.length-1)+')'" ></div>
    </div>
    <div class="mrpagestep-btns" >
        <div  *ngFor="let item of labels; let i=index" class="mrpagestep-btn" [class.is-active]="isBtnActive(i,pageindex)">
            <div class="mrpagestep-btnindex">{{i+1}}</div>
            <div class="mrpagestep-btnlabel">{{item}}</div>
            <div class="mrpagestep-btnlabel mrpagestep-btnlabelactive">{{item}}</div>
        </div>
    </div>
</div>

