:host{
    display: block;
    user-select: none;
}

.mrscorecardtabs-wrp{
    display: flex;
}


.mrscorecardtabs-wrp.is-expanded .mrscorecardtabs-bg{
    transform: scale(1,1.5);
}

.mrscorecardtabs-wrp.is-expanded .mrscorecardtabs-front{
    transform: translate(0,25%);
}

.mrscorecardtabs-wrp.is-expanded  .mrscorecardtabs-label{
    /*transform: scale(1.15);*/
}

.mrscorecardtabs-wrp.is-expanded  .mrscorecardtabs-val{
    /*transform: scale(1.15);*/
}


.mrscorecardtabs-entry{
    flex-grow: 1;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.mrscorecardtabs-entry:last-child{
    margin-right: 0;
}

.mrscorecardtabs-bg{
    position: absolute;
    left : 0;
    right: 0;
    top: 0;
    bottom :0 ;
    background: #DDDDDD;
    transition : 300ms ease-in-out transform,300ms  ease-in-out opacity;
    transform-origin: center top;
}


.mrscorecardtabs-front{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition : 300ms ease-in-out transform;
    padding: 1em;
}

.mrscorecardtabs-entry.is-active .mrscorecardtabs-bg-active{
   opacity: 1;  
}   

.mrscorecardtabs-bg-active{
    background: #AAAAAA;
    opacity: 0;
}

.mrscorecardtabs-entry.is-active div{
    color: white;
}
.mrscorecardtabs-label{
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8em;
    color: #808792;
    transition : 300ms ease-in-out transform;
    transform-origin: left center;
}

.mrscorecardtabs-val{
    font-size: 1.3em;
    font-weight: 600;
    color: #2A2A2A;
    transition : 300ms ease-in-out transform;
    transform-origin: right center;
}

.mrscorecardtabs-arrow{
    width: 10px;
    display: none;
    position: absolute;
    top: 100%;
    background: red;
    left: 0;
    right: 0;
    margin: auto;
}

.mrscorecardtabs-arrow.is-show{
    display: block;
    transform: translate(0,-10px);
    transition: 300ms ease-in-out transform;
}

.mrscorecardtabs-arrow:after{
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
	border-top-color: #AAAAAA;
	border-width: 10px;
	margin-left: -10px;
    z-index: 3;
    
}

.mrscorecardtabs-entry.is-active .mrscorecardtabs-arrow{
    transform: none;
}