:host{
    position: relative;
    display: block;
}
.mrscorepage-overall{
    padding: .5em 1em;
    display: flex;
    background: white;

}


.mrscorepage-overall mr-scorecard-cell{
    margin-top: -.8em;
}

.mrscorepage-overall>div{
    margin-right: 3em;
}

.mrscorepage-overalllabel{
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 600;
}

.mrscorepage-row{
    margin: 1em 0;
}

mr-scorecard-hdrrow{
    margin-bottom: .2em;
}

mr-scorecard-row >>> mr-scorecard-cell {
    width:100%;
    padding: 0 .5em;
}

mr-scorecard-row >>>  .mrscorerow-cell,   mr-scorecard-hdrrow >>> .mrscorehdrow-colcell div{
    width:25% !important;
}

mr-scorecard-row >>> .mrscorerow-colhdr,  mr-scorecard-hdrrow >>> .mrscorehdrow-colhdr{
    width: 20% !important;
}


mr-scorecard-hdrrow >>> .mrscorehdrow-hdr{
    box-shadow: none;
}


mr-scorecard-hdrrow >>> .mrscorehdrow-colhdr{
    padding: .5em 1em;
    font-weight: 600;
    color: #545454;
}

.mrscorepage-rowoverall >>> mr-tablecol-hdr{
    font-size: .9em;
}




/*MRSticky*/

.mrsticky.mrscorepage-overall{
    padding-left: 2em;
    padding-right: 2em;
}

.mrsticky mr-scorecard-cell >>> .mrscorecell-firstrow{
    height: 1.3em !important;
}
.mrsticky mr-scorecard-cell >>> .mrscorecell-mainval span{
    font-size: 1em !important;
}

.mrsticky mr-scorecard-cell >>> .mrscorecell-label{
    margin-top: .2em !important;
}