:host{
    display: block;
}


.mrauthmech-body{
    position: relative;
}


.mrauthmech-sectwrp{
    display: flex;
    background: white;
    padding: 1em;
    flex-wrap: wrap;
}

.mrauthmech-sect{
     width: 50%;
}

.mrauthmech-reasons-sect.mrauthmech-sect{
    padding-bottom: 2em;
}

@media (min-width: 1280px) {
     .mrauthmech-sect{
        width: 25%;
    }

    .mrauthmech-reasons-sect.mrauthmech-sect{
        padding-bottom: 1em;
    }
}


.mrauthmech-failuresect-wrp{
    padding-bottom: 0;
}

.mrauthmech-sect mr-piegraph{
    margin-top: .5em;
}


.mrauthmech-legend-wrp{
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    padding: .6em 0;
    color: #7F8691;
}

.mrauthmech-legend{
    padding-right: 2em;
    font-weight: 300;
    font-size: .7em;
}

.mrauthmech-legend span{
    font-weight: 400;
}

.mrauthmech-legend:last-of-type{
    padding-right: 0;
}


.mrauthmech-table{
    margin-top: 1em;
    padding-bottom: 1em;
}

.mrauthmech-tablehdr{
    display: flex;
    margin-bottom: 3px;
}


.mrauthmech-tablehdr mr-tablehdr-cell {
    padding: .5em 0;
    width: calc(25% - 3px);
    margin-right: 3px;
}

.mrauthmech-tablehdr mr-tablehdr-cell:last-child{
    margin-right: 0;
}

.mrauthmech-tablerow{
    display: flex;
    margin-bottom: 3px;
}

.mrauthmech-tablecol{
    width: calc(25% - 3px);
    margin-right: 3px;
}

.mrauthmech-infobx{
    background: white;
    margin-bottom: 1px;
    padding: .5em 1em .2em 1em;
    height: 3em;
}


.mrauthmech-tablecol .mrauthmech-infobx:last-child{
    margin-bottom: 0;
    padding: .3em 1em .5em 1em;
}

.mrauthmech-tablecolhdr{
    /*font-size: .9em;*/
}

.mrauthmech-tablecolhdr > div{
    padding: 0 1em;
    background: white;
    color: #545454;
    font-weight: 600;
    height: 3em;
    line-height: 3em;
}

.mrauthmech-tablecolhdr > div span{
    font-size: .85em;
}

.mrauthmech-tablecolhdr > div:first-child{
    margin-bottom: 1px;
}

.mrauthmech-inforow{
    display: flex;
    font-size: .75em;
}

.mrauthmech-inforow div:first-child{
    color:#777;
    width: 40%
}
.mrauthmech-inforow div:last-child{
    color:#545454;
    flex-grow: 1;
    text-align: right;
}

.mrauthmech-inforow-sep {
    padding: 0 .5em;
    width: 1em;
    
}



/*
PRINT PDF Styles
*/

.mrpdf-print .mrauthmech-reasons-sect{
    width : 50% !important;
}

.mrpdf-print >>> .mrpielegend-sectlabel{
    font-size: 1em;
    text-overflow: initial;
    white-space: initial;
    overflow: initial;
}

 .mrpdf-print >>> mr-piegraph,.mrpdf-print >>> mr-piegraph svg{
     width: 10em;
     height: 10em;

}

.mrpdf-print >>> mr-piegraph{
    margin: -1em;
}

.mrpdf-print .mrauthmech-table{
    font-size: 1.1em;
}

.mrpdf-print >>> .mrpielegend-label{
    font-size: 1em;
}

 .mrpdf-print >>> .mrpielegend-sqrwrp{
     margin-top: .2em;
 }