:host{
    display: flex;
    margin-bottom: 3px;
}

.mrfilterbox-category, .mrfilterbox-range{
    background: white;
    padding: .3em 1em 0.2em 1em;
    
}

.mrfilterbox-category{
    width: 7em;
}

.mrfilterbox-range{
    flex-grow: 1;
    display: flex;
    margin-left: 3px;
}

.mrfilterbox-category button{
    font-weight: 600;
}

.mrfilterbox-range .dropdown:first-child{
    padding-right: 2em;
}
