
.mrpielegend-sectrow{
    line-height: 1.5;
    font-size: .85em;
    align-items: center;
    padding: .4em 0 .4em 0;
}

.mrpielegend-sectrow:first-child{
     padding-top: 0;
}

.mrpielegend-label{
    color: #696A6C;
    padding-bottom: 1em;
    font-size: .7em;
    font-weight: 600;
}

.mrpielegend-content{
    display: flex;
}

.mrpielegend-sectgrid{
    margin-left: .5em;
    width: calc(100% - 6em);
    max-width: 27vw;
}



.mrpielegend-sectlabel{
    padding-right: 1em;
    font-size: .7em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.mrpielegend-sqr{
    background: #e6e6e6;
    width: 1em;
    height: 1em;
}

.mrpielegend-sqrwrp{
    padding-right: .5em;
    float: left;   
}



.mrpielegend-sectrow:hover mr-popover {
    display: block;
    
}

mr-popover {
    display: none;
}

.mrpielegend-sectlabelwrp{
        position: relative;
}
