
<div class="wrp">
  <div class="hdr"></div>
  <div class="content-wrp">
    <div class="sidebar">
         <a  routerLink="/scorecard/activate/channel" routerLinkActive="active" class="links">Act Journey</a>
         <a  routerLink="/scorecard/activate/sales" routerLinkActive="active" class="links">Sales</a>
         <a  routerLink="/scorecard/activate/geo" routerLinkActive="active" class="links">Geo View</a>
         <a  routerLink="/scorecard/activate/device" routerLinkActive="active" class="links">Device View</a>
         <a  routerLink="/scorecard/authenticate" routerLinkActive="active" class="links">Auth</a>
         <a  routerLink="/fcs/detail" routerLinkActive="active" class="links">FCS</a>
    </div>
    <div class="mrsticky-container"></div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
