.mrdart-canvas{
    height: 600px;
    width: 800px;
}

.provisiongraph-respscale {
  font-family: 'FontAwesome';
  width: 14px;
  height: 14px; }
  @media only screen and (min-width: 800px) {
    .provisiongraph-respscale {
      width: 1.5vh;
      height: 1.5vh; } }

.provisiongraph {
  font-family: 'Lato', sans-serif;
  background: whitesmoke;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #bababa));
  background: -webkit-linear-gradient(top, whitesmoke 0%, #bababa 100%);
  background: linear-gradient(to bottom, whitesmoke 0%, #bababa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#bababa', GradientType=0 );
  font-size : 14px;
 }
  
  .provisiongraph .provisiongraph-axis path {
    stroke-width: 0.0625em;
    stroke: rgba(254, 254, 254, 0.5);
    fill: none; }
  .provisiongraph .provisiongraph-axis line {
    fill: none;
    stroke: rgba(254, 254, 254, 0.5);
    letter-spacing: .5px;
    stroke-width: 0.0625em;
    stroke-dasharray: 0.5em 0.125em; }
  .provisiongraph .provisiongraph-axis text {
    fill: #848484;
    font-size: 0.9em; }
  .provisiongraph .provisiongraph-axis.y path {
    display: none; }
  .provisiongraph .context .x.provisiongraph-axis path {
    stroke: #e6e8e8; }
  .provisiongraph .brush-background {
    fill: #d3d2d2; }
  .provisiongraph .brush.x:hover {
    opacity: 0.95; }
  .provisiongraph .brush.x .background {
    fill: #d3d2d2;
    visibility: hidden;
    stroke-width: 1;
    stroke: #d3d2d2; }
  .provisiongraph .brush.x .extent {
    fill: rgba(121, 121, 121, 0.66);
    stroke-width: 0; }
  .provisiongraph .brush.x .resize path {
    fill: #a6a6a6;
    stroke: #717171;
    stroke-width: 3px; }
  .provisiongraph .brush.x .resize rect {
    display: none; }

.provisiongraph-circle {
  cursor: pointer;
  -webkit-transition: ease-in-out 200ms -webkit-transform;
          transition: ease-in-out 200ms transform;
  fill-opacity: 0.8; }
  .provisiongraph-circle .is-scale {
    -webkit-transition: cubic-bezier(-0.28, -0.28, 0.2, 0.6) 200ms -webkit-transform;
            transition: cubic-bezier(-0.28, -0.28, 0.2, 0.6) 200ms transform; }

.provisiongraph-tooltip {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1001;
  line-height: 1.6;
  padding: .5em 1em;
  border-radius: .2em;
  border: .2em solid;
  font-size: 1.6vh;
  color: #464646;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: ease-in-out 200ms opacity;
          transition: ease-in-out 200ms opacity; }
  .provisiongraph-tooltip table {
    white-space: nowrap;
    width: 300px; }
  .provisiongraph-tooltip.is-active {
    opacity: 1.0; }
  .provisiongraph-tooltip tr {
    white-space: normal; }
  .provisiongraph-tooltip .is-wrap {
    white-space: nowrap; }

.provisiongraph-tooltip-arrow {
  position: absolute;
  left: 50%;
  margin-left: -0.7em;
  width: 0;
  height: 0;
  bottom: -.7em;
  border-style: solid;
  border-width: .7em .7em 0 .7em;
  opacity: .8;
  border-color: #333 transparent transparent transparent; }

.provisiongraph-tooltip-sep {
  padding: 0 10px; }

.provisiongraph-tooltip-label {
  color: #5d5d5d;
  letter-spacing: 0.01em; }

.provisiongraph-tooltip-gutter {
  width: 30px;
  display: block; }

.provisiongraph-det-label {
  text-anchor: middle;
  text-transform: uppercase;
  font-weight: 300;
  color: #6c6c6c; }

.provisiongraph-det-icon {
  font-family: 'FontAwesome';
  text-anchor: middle; }

.provisiongraph-det-node {
  border: 2px solid; }

.provisiongraph-det-link-fake {
  cursor: pointer; }

.provisiongraph-zoombtn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.provisiongraph-loader {
  stroke: #11b0d1;
  stroke-width: 2;
  -webkit-transition: 200ms opacity ease-in-out;
          transition: 200ms opacity ease-in-out; }
  .provisiongraph-loader.is-inactive {
    opacity: 0 !important; }

.provisiongraph-nodata {
  font-size: 'Lato';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 10px;
  margin: auto;
  text-align: center;
  color: #848484; }
