<div class="mrfcsrow-hdr">
    <div>arrow</div>
    <div class="mrfcsrow-hdrright">
        <div>
            <ng-content></ng-content>
        
        </div>

        <div *ngFor="let field of data.headerFields" class="mrfcsrow-hdrfield">
            <div  class="mrfcsrow-fieldlabel">{{field.label}} :</div>
            
            <div class="mrfcsrow-fieldval">{{field.value}}</div>
        </div>
    </div>
</div>
<div class="mrfcsrow-det">
      <div class="mrfcsrow-detleft">
          <div *ngFor="let field of data.detLeftFields" class="mrfcsrow-field">
                <div class="mrfcsrow-fieldlabel">{{field.label}}</div>
                <div class="mrfcsrow-fieldsep">: </div>
                <div class="mrfcsrow-fieldval">{{field.value}}</div>
          </div>
      </div>
      <div class="mrfcsrow-detright" >
          <div *ngFor="let field of data.detRightFields" class="mrfcsrow-field">
                <div class="mrfcsrow-fieldlabel">{{field.label}}</div>
                <div class="mrfcsrow-fieldsep">: </div>
                <div class="mrfcsrow-fieldval">{{field.value}}</div>
          </div>
      </div>
</div>