:host{
     position     : absolute;
    transform     : translate(-50%,0);
    background    : #2c2c2c;
    color         : white;
	word-wrap     : break-word;
    padding       : 1em;
    box-shadow    : 0 .2em .2em .1em rgba(0,0,0,.2);
    border-radius : .3em;
    z-index       : 2;
    width         : 20em;
    display       : none;
    margin-left   : 1em;
    font-size     : .8em;
    bottom        : 180%;
    left          : 50%;
}

.mrpopover-arrow{
    
}

   

.mrpopover-arrow:after, .mrpopover-arrow:before {
	top: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mrpopover-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #2c2c2c;
	border-width: 8px;
	margin-left: -8px;
}
.mrpopover-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: rgba(0,0,0,.12);
	border-width: 9px;
	margin-left: -9px;
}