.dropdown button{
    background: transparent;
    border: 0;
    color: #686c71 !important;
    padding: .5em .5em .5em .5em;
    margin: 0 -.5em;
    outline: 0 !important;  
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .015em; 
    line-height: 1;
    display: block;
}

.dropdown.open button{
    background: #dadada;
}

.dropdown-menu{
    border: 0;
    top: 90%;
    box-shadow: 0 .1em .2em .1em rgba(0,0,0,.2);
    border-radius: .3em;
    min-width: 7rem;
    margin-left: -.3em;
    max-height: 20em;
    overflow-y: scroll;
}

.dropdown-item{
    padding: 3px .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8em;
}

.btn-primary:hover,.btn-primary.active{
    background-color: #f4f5f7 !important;
    border: 0;
}


.mrglobal-shadow{
     box-shadow: 0 0 .1em .05em rgba(0,0,0,.1);
}

input[type="text"]{
    padding: 0 .5em;
    outline-color: #6AD3E3;
}



/* DATE PICKER*/

.mr-datepicker .ui-kit-calendar-input{
    color: #777 !important;
    font-size: 1em !important;
    background: transparent !important;
    border: 0 !important;
}

.mr-datepicker .ui-kit-calendar-cal-container{
    box-shadow: 0 .1em .5em .1em rgba(0,0,0,.2) !important;
    transition: visibility 0s, opacity 50ms linear 50ms !important;
    right: auto !important;
    left: 0 !important;
    top:40px !important;
}

.mr-datepicker  .ui-kit-calendar-cal-container:after{
    left: 10px ;
    right:0 !important;
}

.mr-datepicker  .ui-kit-calendar-container,.mr-datepicker .ui-kit-calendar-input{
    width: auto !important;
}

.mr-datepicker .ui-kit-calendar-input{
    margin-right: 0 !important;
}
.mr-datepicker .ui-kit-calendar-container{
    background: url('/assets/images/icon-calendar.svg') right center no-repeat;
    padding-right: .4em;
    margin-right:0;
}