:host{
    display: block;
}

.mrpdftemplate-hdrinner{
    display:flex;
    align-items: center;
    padding: .5em 0;
}

.mrpdftemplate-dartlogo{
    border-left: 1px solid #ccc;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1em;
    margin-left: 1em;
}

.mrpdftemplate-titlebx{
     margin-left: 50px;
}

.mrpdftemplate-title{
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.1;
    color: #666;
}

.mrpdftemplate-stitle{
    font-size: .8em;
}

.mrpdftemplate-ftrinner{
    display: flex;
    justify-content: space-between;
    font-size: .7em;
    padding: .4em 0;
}

.mrpdftemplate-ftr-row{
       display: flex;
}

.mrpdftemplate-ftr-label{
    width: 7.5em;
}

.mrpdftemplate-copy{
    display: flex;
    align-items: flex-end;
}


.mrpdftemplate-hdr{
    border-bottom:1px solid;
    margin-bottom: .4em;
}

.mrpdftemplate-ftr{
    border-top:1px solid;
    margin-top: .4em;
}

.mrpdftemplate-hdr,.mrpdftemplate-ftr{
    border-color: #ccc;
}