:host([show-bg]){
    background:#EDEDED;
}

.mrscorerow-row{
    background: white;
    display: flex;
    align-items: stretch;
    margin-bottom:1px;
}

.mrscorerow-colhdr{
    width: 13em;
    position:relative;
}

.mrscorerow-rowscroll-wrp{
    flex-grow:1
}

.mrscorerow-rowscroll{
    display:flex;
}

.mrscorerow-cell{
    padding: 0 .5em;
    border-right:1px solid #eeeeee;
    height:5em;
    width:25%;
    display: flex;
    justify-content: center;
}

@media (min-width: 1280px) {
    .mrscorerow-cell{
        width: 20%;
    }
}