:host{
    padding: 1em;
    display: block;
}

.mractdevice-content >>>  mr-scorecard-hdrrow .mrscorehdrow-colhdr{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    color: #676666;
    font-size: .7em;
    line-height: 1.7em;
}

.mractdevice-content >>> mr-scorecard-hdrrow .mrscorehdrow-colcell div {
    width: 33.333% !important;
}

.mractdevice-content .mrscorerow-colhdr{
        width: 20%;
}

.mractdevice-content .mrscorerow-cell{
        width: 33.333% !important;
}