<!--FILTER-->
<div class="mrglobal-shadow">
    <mr-filterbox [(filter)]="newFilter" (change)="onFilterChanged($event)" ></mr-filterbox>

    <div class="mrscorepage-overall ">
        <div *ngFor="let item of overallData;let i=index">
            <div class="mrscorepage-overalllabel">{{item.key}}</div>
            <mr-scorecard-cell [data]="item" [show-aaa]="false" large></mr-scorecard-cell>
        </div>
    </div>
</div>




<div  class="mrglobal-shadow mrscorepage-row mractdevice-content">
    <!--TABLE HDR-->
    <mr-scorecard-hdrrow [label]="deviceHdrLabels" [data]="colLabels" ></mr-scorecard-hdrrow>
    
    <div class="mrscorerow-row" *ngFor="let rowData of deviceData; ">
        <div class="mrscorerow-colhdr">
            <mr-tablecol-hdr [attr.right-align]="highlight && null">{{rowData.type}}</mr-tablecol-hdr>
        </div>
        <div class="mrscorerow-colhdr">
            <mr-tablecol-hdr [attr.right-align]="highlight && null">{{rowData.device}}</mr-tablecol-hdr>
        </div>
        <div class="mrscorerow-rowscroll-wrp" >
            <div class="mrscorerow-rowscroll">
                <div  *ngFor="let item of rowData.cols; let i=index" class="mrscorerow-cell">
                    <mr-scorecard-cell [data]="item" [show-aaa]="showAaa"></mr-scorecard-cell>
                </div>
            </div>
        </div>
    </div>
</div>
