:host{
    display: block;
}

.mractdevice-rdk{
    margin-top: 3em;
}

.mractdevice-cellrow{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: .8em 0;
}


.mractdevice-content >>>  mr-scorecard-hdrrow .mrscorehdrow-colhdr{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    color: #676666;
    font-size: .7em;
    line-height: 1.7em;
}

.mractdevice-device >>> mr-scorecard-hdrrow .mrscorehdrow-hdr .mrscorehdrow-colcell div {
    width: 33.333% !important;
}

.mractdevice-device .mrscorerow-colhdr{
        width: 20%;
}

.mractdevice-device .mrscorerow-cell{
        width: 33.333% !important;
}

.mractdevice-rdk >>>mr-scorecard-hdrrow  .mrscorehdrow-hdr .mrscorehdrow-colcell  div{
    width: 33.333% !important;
}

.mractdevice-rdk >>> mr-scorecard-hdrrow  .mrscorehdrow-hdr .mrscorehdrow-colcell  div:last-child{
    display:none !important;
}

.mractdevice-rdk >>> mr-scorecard-hdrrow .mrscorehdrow-colhdr{
        width: 40% !important;
}

.mractdevice-rdk .mrscorerow-colhdr{
    width: 40%;
}
.mractdevice-rdk .mrscorerow-cell{
        width: 33.333% !important;
}


/*MRSticky*/

.mrsticky.mrscorepage-overall{
    padding-left: 2em;
    padding-right: 2em;
}

.mrsticky mr-scorecard-cell >>> .mrscorecell-firstrow{
    height: 1.3em !important;
}
.mrsticky mr-scorecard-cell >>> .mrscorecell-mainval span{
    font-size: 1em !important;
}

.mrsticky mr-scorecard-cell >>> .mrscorecell-label,.mrsticky mr-scorecard-cell >>> .mrscorecell-col> div{
    margin-top: .2em !important;
}

/*RDK*/

.mractdevice-rdkcell{
    width: 13em;
    margin: auto;
    font-size: .8em;
}

.mractdevice-rdkcell-label{
    font-size: .8em;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: .2em;
    width: 27%;
    vertical-align: bottom;
    line-height: 1;
    color: rgb(154,154,154);
}

.mractdevice-rdkcell-val{
        width: 36%;
}

.mractdevice-rdkcell-val mr-percentage-formatter{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;
    vertical-align: bottom;
}


.mractdevice-rdkcell-perc{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.mractdevice-rdkcell-perc mr-percent-view{
    font-size: 1.5em;
}


.mractdevice-device  mr-scorecard-hdrrow >>> .mrscorehdrow-colcell   div:last-child{
    display:block !important;
}