:host{
    display: block;
}

.mractdevice-rdk{
    margin-top: 3em;
}

.mractdevice-cellrow{
    display: flex;
    align-items: flex-end;
}

.mractdevice-content >>>  mr-scorecard-hdrrow .mrscorehdrow-colhdr{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    color: #676666;
    font-size: .7em;
    line-height: 1.7em;
}

.mractdevice-device >>> mr-scorecard-hdrrow .mrscorehdrow-hdr .mrscorehdrow-colcell div {
    width: 33.333% !important;
}

.mractdevice-device .mrscorerow-colhdr{
        width: 20%;
}

.mractdevice-device .mrscorerow-cell{
        width: 33.333% !important;
}

.mractdevice-rdk >>>mr-scorecard-hdrrow  .mrscorehdrow-hdr .mrscorehdrow-colcell  div{
    width: 33.333% !important;
}

.mractdevice-rdk >>> mr-scorecard-hdrrow  .mrscorehdrow-hdr .mrscorehdrow-colcell  div:last-child{
    display:none !important;
}

.mractdevice-rdk >>> mr-scorecard-hdrrow .mrscorehdrow-colhdr{
        width: 40% !important;
}

.mractdevice-rdk .mrscorerow-colhdr{
    width: 40%;
}
.mractdevice-rdk .mrscorerow-cell{
        width: 33.333% !important;
}


/*MRSticky*/

.mrsticky.mrscorepage-overall{
    padding-left: 2em;
    padding-right: 2em;
}

.mrsticky mr-scorecard-cell >>> .mrscorecell-firstrow{
    height: 1.3em !important;
}
.mrsticky mr-scorecard-cell >>> .mrscorecell-mainval span{
    font-size: 1em !important;
}

.mrsticky mr-scorecard-cell >>> .mrscorecell-label{
    margin-top: .2em !important;
}