<div class="mrpielegend-label">{{label}}</div>
<div class="mrpielegend-content">
    <mr-piegraph [data]="data" [colors]="colorsList"></mr-piegraph>
    <div class="mrpielegend-sectgrid">
        <div class="mrpielegend-sectrow" *ngFor="let item of data; let i=index">
            <div class="mrpielegend-sqrwrp">
                <div class="mrpielegend-sqr" [style.background-color]="colorsList[i]"></div>
            </div>
            <div class="mrpielegend-sectlabelwrp">
                <div class="mrpielegend-sectlabel">{{item.label}} </div>
                <mr-popover>{{item.label}} </mr-popover>
            </div>
            
        </div>
    </div>
</div>