.mrfcsrow-hdr{
    display: flex;
    background: white;
    padding: .2em .8em;
}

.mrfcsrow-hdrright{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.mrfcsrow-hdrarrow{

}

.mrfcsrow-field{
    display: flex;
    font-size: .8em;
    line-height: 1em;
    padding: .5em 0;
}

.mrfcsrow-hdrfield{
    display: flex;
    font-size: .8em;
    line-height: .8em;
    align-items: center;
}

.mrfcsrow-fieldlabel{
    font-weight: 600;
    padding-right: .2em;
}


.mrfcsrow-det .mrfcsrow-fieldlabel{
    width: 13em;
}

.mrfcsrow-fieldval{

}

.mrfcsrow-fieldsep{
    font-weight: 600;
    padding-right: .5em;
}

.mrfcsrow-det{
    align-items: stretch;
    margin-top: 2px;
    display: flex;
    height: 14.5em;
    
}

.mrfcsrow-detleft{
    width: 25em;
    background: #F7F7F7;
    margin-right: 1px;
    padding: .8em .8em;
}

.mrfcsrow-detright{
    background: #F7F7F7;
    flex-grow: 1;
    padding: .8em .8em;
}