:host{
    padding: 1em;
    display: block;
}

.mrfcsdet-filter{
    display: flex;
    margin-bottom: .3em;
    height: 2.5em;
}

.mrfcsdet-filter .dropdown button{
    padding: .5em .5em .5em .5em;
    font-size: .8rem;
}

.mrfcsdet-filter-entry{
    background: white;
    margin-right: 3px;
    padding: .2em .8em;
    font-size: .8em;
    align-items: center;
    display: flex;
}

.mrfcsdet-filter-entry:last-child{
    margin-right:0; 
}

.mrfcsdet-filter-searchbx{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.mrfcsdet-filter-downloadbtn{
    display: flex;
    align-items: center;
    margin-right: .5em;
    cursor: pointer;
}

.mrfcsdet-filter-downloadbtn img{
    margin-right: .5em;
    width: .9em;
}

.mrfcsdet-filter-search{
    display: flex;
    align-items: center;
    position: relative;
}

.mrfcsdet-filter-search input{
    height: 2.3em;
    border: 1px solid #E1E1E1;
    width: 20em;
}

.mrfcsdet-filter-search img{
    position: absolute;
    right: .6em;
}

.mrfcsdet-legendbar{
    display: flex;
    background: white;
    margin-bottom: .35em;
    align-items: center;
    padding: .4em .8em;
    height: 2.5em;
}

.mrfcsdet-label{
    padding-right: 2em;
    font-size: .7em;
}

.mrfcsdet-legendbar-label{
    font-weight: 600;
    font-size: .7em;
    text-transform: uppercase;
    padding-right: .5em;
}

.mrfcsdet-legendbar-entry{
    display: flex;
    align-items: center;
    padding-right: 1em;
}

.mrfcsdet-legendbar-entry img{
    padding-right: .2em;
    max-height: .8em;
}

.mrfcsdet-legendbar-opt{
    display: flex;
    align-items: center;
    font-size: .7em;
    padding-right: 1em;
}

.mrfcsdet-tick img{
    width: 1.1em;
    margin-bottom: .18em;
}

.mrfcsdet-blacklist-icon{
        height: 1em;
}

.mrfcsdet-blacklist-icon img{
    width: .9em;
    display: block;
    margin-right: .6em;
}

.mrfcsdet-blacklist-icon img:last-child{
    display: none;
}

.mrfcsdet-blacklist-icon.is-ignore img:first-child{
    display: none;
}

.mrfcsdet-blacklist-icon.is-ignore img:last-child{
    display: block;

}



.mrfcsdet-pagination{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 1em 0
}

.mrfcsdet-pagination-icon{
    opacity: .2;
}
.mrfcsdet-pagination-icon.is-active{
    opacity: 1;
    cursor: pointer;
}

.mrfcsdet-pagination-icon img{
    display: block;
    padding: 0 .5em;
    width: 1.5em;
}

.mrfcsdet-pagination-index{
    color: #757575;
    font-size: .9em;
    padding: 0 .4em;
    border-radius: .2em;
    margin: 0 .2em;
    cursor: pointer;
}

.mrfcsdet-pagination-index.is-active{
    background: #757575;
    color: white;

}

