<div class="mrfcsdet-filter">
    <div class="mrfcsdet-filter-entry">
        <div>From :</div>
        <div><datepicker [(ngModel)]="filter.startDate" [expanded]="true" class="mr-datepicker" [viewFormat]="'MM-DD-YYYY'"></datepicker></div>
    </div>

    <div class="mrfcsdet-filter-entry">
        <div>To :</div>
        <div><datepicker [(ngModel)]="filter.endDate" [expanded]="true" class="mr-datepicker" [viewFormat]="'MM-DD-YYYY'"></datepicker></div>
    </div>

    <div class="mrfcsdet-filter-entry">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" >
                {{filter.corp.label}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a  *ngFor="let item of allCorps; let i=index"  class="dropdown-item" (click)="filterCorps(item)" >{{item.label}}</a>
            </div>
        </div>
    </div>
    <div class="mrfcsdet-filter-entry mrfcsdet-filter-searchbx">
        <div class="mrfcsdet-filter-downloadbtn">
            <img src="/assets/images/icon-spreadsheet.svg"/>
            <div>Download Statement</div>
        </div>
        <div class="mrfcsdet-filter-search">
            <input type="text" (input)="onSearch($event)"/>
            <img src="/assets/images/icon-search.svg"/>
            
        </div>
    </div>
</div>



<div class="mrfcsdet-legendbar">
    <div class="mrfcsdet-label">LEGEND :</div>
    <div class="mrfcsdet-legendbar-entry">
        <div class="mrfcsdet-legendbar-label">Blacklist status :</div>
        <div  class="mrfcsdet-legendbar-opt"><img src="/assets/images/icon-notblacklisted.svg" /> Not Blacklisted</div>
        <div  class="mrfcsdet-legendbar-opt"><img src="/assets/images/icon-ignore.svg" /> Ignore</div>
    </div>
     <div class="mrfcsdet-legendbar-entry">
        <div class="mrfcsdet-legendbar-label">Status :</div>
        <div class="mrfcsdet-legendbar-opt"> <img src="/assets/images/icon-completed-fill.svg"/> Completed</div>
    </div>
</div>
<mr-fcsrow *ngFor="let rowData of outputData; let i=index" class="mrfcsdet-row" [data]="rowData">
    <div mr-fcsrow-btns >
        <div class="mrfcsdet-blacklist-icon" [class.is-ignore]="rowData.btnFields.blackListStatus.value == 'IGNORE'">
            <img src="/assets/images/icon-notblacklisted.svg" />
            <img src="/assets/images/icon-ignore.svg"/>
        </div>
        <div mr-fcsrow-btn class="mrfcsdet-tick" [style.opacity]="rowData.btnFields.status.value=='COMPLETED'?1:0"> 
            <img src="/assets/images/icon-completed.svg"/>
        </div>
        <div mr-fcsrow-btn>{{rowData.btnFields.checkBlackList.value}}</div>
        <div mr-fcsrow-btn >{{rowData.btnFields.cmtsStatus.value}}</div>
        <div mr-fcsrow-btn>{{rowData.btnFields.headEndStatus.value}}</div>
    </div>
</mr-fcsrow>

<div class="mrfcsdet-pagination" *ngIf="pagesList.length">
    <div class="mrfcsdet-pagination-icon" [class.is-active]="curPageNo>1"><img src="/assets/images/icon-leftarrow.svg"  (click)="curPageNo = 1 >curPageNo - 1?1:curPageNo - 1" /></div>
    <div *ngFor="let item of pagesList; let i=index" [class.is-active]="item===curPageNo" (click)="curPageNo = item" class="mrfcsdet-pagination-index">{{item}}</div>
    <div class="mrfcsdet-pagination-icon" [class.is-active]="curPageNo<pagesList.length"><img src="/assets/images/icon-rightarrow.svg"  (click)="curPageNo = pagesList.length<curPageNo + 1?pagesList.length:curPageNo + 1" /></div>
</div>